body {
  margin: 0;
  font-family: "microsoft yahei",Arial;
  background-color: #f6f6f6;
  color: rgba(0,0,0,.87);
  font-size: 16px;
  padding-top: 64px;
  width: 100vw;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
}
input, button {
  font-family: inherit;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  border-bottom: .5px solid rgba(0, 0, 0, 0.12);
}
.navigation-bar {
  height: 44px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  /*background: #fff;*/
  background: rgba(255,255,255,.8);
  -webkit-backdrop-filter: blur(20px);
}
.btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar .icon {
  display: inline;
}
svg {
  fill: currentcolor;
}
.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.md-light {
  color: #fff;
}
.logo {
  width: 80px;
  height: 32px;
  background: rgba(0,0,0,.12);
  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
}
.carousel {
  position: relative;
  background: #fff;
  overflow: hidden;
}
.carousel-items {
  display: flex;
  transition: .3s;
}
.carousel-item {
  width: 100vw;
  flex: none;
}
.carousel-item img {
  width: 100%;
  display: block;
}
.carousel-sliders {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.carousel-slider {
  width: 16px;
  height: 4px;
  margin: 4px;
  background: rgba(0,0,0,.12);
}
.carousel-slider.active {
  background: #d70050;
}
.billboard {
  background: #fff;
  padding: 0 16px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.billboard-title {
  font-size: 14px;
  font-weight: 700;
  padding-right: 1em;
  color: #4CAF50;
  border-right: 1px solid rgba(0,0,0,.12);
  line-height: 1;
}
.billboard-content {
  font-size: 12px;
}
.news-list {
  margin-left: 1em;
}
.news-item p:nth-child(2) {
  color: rgba(0,0,0,.38);
}
.showcase-title {
  font-size: 12px;
  color: rgba(0,0,0,.54);
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-title::before,
.showcase-title::after {
  content: '';
  width: 4em;
  height: 0;
  border-top: 1px solid;
  margin: 8px;
  color: rgba(0,0,0,.12);
}
.showcase {
  display: flex;
  padding: 8px 0;
  background: #fff;
}
.showcase-roll {
  overflow: scroll;
  height: 100px;
  -webkit-overflow-scrolling: touch;
}
.margin-bottom {
  margin-bottom: 4px;
}
.box {
  background: #fff;
  flex: 1 1 auto;
  width: 25%;
  max-width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.showcase-small .box:nth-child(4n),
.showcase-middle .box:nth-child(4n),
.showcase-large .box:nth-child(4n) {
  margin-right: 0;
}
.showcase-roll .box {
  width: 30%;
  flex: 1 0 auto;
}
.showcase-middle {
  height: 100px;
}
.showcase-middle .box .pic {
  height: 70px;
}
.showcase-middle .box .info {
  white-space: nowrap;
  font-size: 12px;
  transform: scale(.6);
}
.showcase-small {
  flex-wrap: wrap;
}
.showcase-small .box {
  height: 50px;
  flex: 1 0 auto;
}
.showcase-large {
  flex-wrap: wrap;
  background: none;
  padding: 0;
  padding: 0 8px;
}
.showcase-large .box {
  width: 48%;
  margin-right: 4px;
  margin-bottom: 4px;
}
.showcase-large .box:nth-child(2n) {
  margin-right: 0;
}
.box .pic {
}
.box .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  margin: 4px;
}
.info .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}
.info .price-market {
  color: rgba(0,0,0,.38);
  text-decoration: line-through;
}
.info .price {
  color: rgba(0,0,0,.54);
}
.box img {
  width: 100%;
  display: block;
}
/*底部工具条*/
.floating-tools {
  position: fixed;
  bottom: 24px;
  left: 16px;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  background: rgba(0,0,0,.7);
  -webkit-backdrop-filter: blur(10px);
}
.floating-tool {
  color: #fff;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.floating-tool .icon {
  width: 18px;
  height: 18px;
}
.floating-tool .desc {
  font-size: 10px;
  transform: scale(.75);
}
/*顶部栏*/
.title-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  padding: 8px;
}
.title-bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
  z-index: -1;
}
/*搜索*/
.search {
  align-items: flex-start;
  z-index: 6;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  position: relative;
}
.search .mask {
  width: 250vmax;
  height: 250vmax;
  border-radius: 50%;
  background: rgba(255,255,255,.8);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  right: 24px;
  top: 30px;
  transform-origin: 100% 0;
  z-index: -1;
}
.search .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  color: rgba(0,0,0,.38);
  transform: translateY(-50%);
  height: 24px;
}
input {
  border: none;
  border-radius: 2px;
  padding: 6px;
  box-shadow: 0 2px 14px rgba(0,0,0,.12), 0 0 2px rgba(0,0,0,.08);
  -webkit-appearance: none;
}
.search-input {
  flex: 1 1 auto;
  outline: none;
  background: rgba(255,255,255,1);
  font-size: 14px;
  margin: 0 8px;
}
::-webkit-input-placeholder {
  /*color: #fff;*/
}
.search.off {
  transform: translateY(-150%);
}
.search.on .mask {
  transform: scale(1) translate(50%,-50%);
  transition: transform .3s;
}
.search.off .mask {
  opacity: 0;
  transform: scale(.1) translate(50%,-50%);
  transition: opacity .2s,transform 0s .2s;
}
.keywords {
  margin: 16px;
  font-size: 12px;
}
.keywords .keyword {
  display: inline-block;
  margin-bottom: 4px;
  white-space: nowrap;
  border-radius: 2px;
  background: rgba(255,255,255,1);
  color: rgba(0,0,0,.54);
  padding: 4px 8px;
}
/*分类页面*/
.sub-nav {
  background: #fff;
  margin-right: 8px;
}
.sub-nav-list {
  /*display: flex;*/
  margin: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.sub-nav-item {
  padding: 0 8px;
  white-space: nowrap;
  line-height: 40px;
  flex: none;
  font-size: 12px;
  border-bottom: .5px solid rgba(0,0,0,.07);
}
.sub-nav-item.active {
  border-bottom: 2px solid #d70050;
}
.page.category .content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
section.category {
  flex: 1 0;
}
.category-list {
  flex: 1 1;
  background: #fff;
}
.category-item {
  font-size: 12px;
  padding: 0 16px;
  line-height: 32px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.04);
  white-space: nowrap;
  overflow-x: scroll;
}
.category-content {
  flex: 1 0 auto;
  flex-wrap: wrap;
  align-self: flex-start;
}
.banner {
  height: 80px;
  background: #fff;
  margin-bottom: 1px;
}
.content-item {
  background: #fff;
  overflow: hidden;
  display: flex;
  padding: 8px 0 0 8px;
  height: 80px;
  position: relative;
}
.goods-image {
  flex: 0 0 auto;
  width: 55px;
  display: flex;
  align-items: center;
}
.goods-image img {
  width: 100%;
}
.goods-info {
  flex: 1 0;
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  border-bottom: .5px solid rgba(0,0,0,.08);
  padding-bottom: 8px;
}
.goods-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}
.goods-name {
  max-height: 3em;
  overflow: hidden;
}
.goods-price {
  color: #E91E63;
  font-size: 14px;
}
.goods-price span {
  font-size: .875em;
}
.goods-tags {
  position: absolute;
  left: 0;
  top: 0;
}
.goods-tag {
  font-size: .5rem;
  color: #fff;
  padding: 0 2px;
}
.goods-tag.best {
  background: #83c44e;
}
.goods-tag.hot {
  background: #e53935;
}
.goods-tag.promote {
  background: #ffac13;
}

/*底部导航*/
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #4CAF50;
}
